In [ ]:
import pandas as pd
from pandas_profiling import ProfileReport
from pathlib import Path

In [ ]:
output_folder = Path("../../../output/diego/cascais")
cascais_path = Path("data/cascais/")

In [30]:
dfs = {}
# Generating exploratory analysis for the input data
for item in cascais_path.glob('*.txt'):
    df = pd.read_csv(item, sep=',')
    df.name = item.stem
    profile = ProfileReport(df, title=f"{item.stem}")
    profile.to_file(output_folder / f"{item.stem}.html")
    dfs[item.stem] = df

- `stop_times` is a relevant dataset.
- `trips` has a `shape_id` column that joins with the `shapes` file.
- `stops` contains the coodinates of the bus stops.

In [35]:
dfs.keys()

dict_keys(['fare_attributes', 'agency', 'calendar_dates', 'stop_times', 'shapes', 'trips', 'feed_info', 'stops', 'calendar', 'routes'])

In [47]:
n = 'stop_times'
dfs[n]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,M01-1-001-A-U-09h15-ParedeTerminalR,09:15:00,09:15:00,200037,1,NaN,NaN,NaN,0.00,1
1,M01-1-001-A-U-09h15-ParedeTerminalR,09:17:00,09:17:00,155665,2,NaN,NaN,NaN,667.36,0
2,M01-1-001-A-U-09h15-ParedeTerminalR,09:18:00,09:18:00,155666,3,NaN,NaN,NaN,1031.42,0
3,M01-1-001-A-U-09h15-ParedeTerminalR,09:20:00,09:20:00,155667,4,NaN,NaN,NaN,1507.10,0
4,M01-1-001-A-U-09h15-ParedeTerminalR,09:21:30,09:21:30,155668,5,NaN,NaN,NaN,1943.08,1
...,...,...,...,...,...,...,...,...,...,...
111763,M29-2-086-A-SDF-24h45-CascaiShoppingT,24:51:00,24:51:00,156337,7,NaN,NaN,NaN,3166.13,1
111764,M29-2-086-A-SDF-24h45-CascaiShoppingT,24:52:42,24:52:42,156344,8,NaN,NaN,NaN,3911.31,0
111765,M29-2-086-A-SDF-24h45-CascaiShoppingT,24:53:48,24:53:48,157782,9,NaN,NaN,NaN,4390.22,0
111766,M29-2-086-A-SDF-24h45-CascaiShoppingT,24:54:38,24:54:38,155658,10,NaN,NaN,NaN,4749.83,0
111767,M29-2-086-A-SDF-24h45-CascaiShoppingT,24:56:00,24:56:00,156111,11,NaN,NaN,NaN,5349.07,1

In [ ]:
for df_ in dfs:
    profile = ProfileReport(df_, title=f"{df_.name}")
    profile.to_file(f"{df_.name}.html")